body {
    background-color: lightskyblue;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: darkblue;
    text-shadow: 1px 1px 2px white;
}

p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}