body {
    background-color: lightblue;
    text-align: center;
    font-family: "Raleway", sans-serif;
    padding: 20px;
}

h1 {
    color: #222;
    margin-bottom: 20px;
}

img {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    max-width: 100%;
    height: auto;
}