label:hover{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input{
    padding:  5px;
    margin: 4px;
}

input::placeholder{
    font-family: Ubuntu;
}

input[type='submit']{
    color: blue;
    background-color: whitesmoke;
    font-size: 1em;
    border-radius: 10px;
    padding: 5px;
    border: 0px;
}

input[type="submit"]:hover{
    background-color: blue;
    color: whitesmoke;
    cursor: pointer;
}

fieldset{
    margin-bottom: 23px;
}